In [3]:
import datascience
from datascience import *

def table1(data,name):
    temp = data.where("姓名",name)
    subject = temp[2]
    date = temp[3]
    time = temp[4]
    classroom = temp[5]
    return [subject,date,time,classroom]

name = input('请输入待查询的名字：')

L1 = Table.read_table('C:/Users/Lenovo/Documents/Tencent Files/3173118572/FileRecv/hadoop.csv')
L2 = Table.read_table('C:/Users/Lenovo/Documents/Tencent Files/3173118572/FileRecv/hive.csv')
L3 = Table.read_table('C:/Users/Lenovo/Documents/Tencent Files/3173118572/FileRecv/spark.csv')
L4 = Table.read_table('C:/Users/Lenovo/Documents/Tencent Files/3173118572/FileRecv/高数监考表.csv')

#data4.show()

inform0 = table1(L1,name)
inform1 = table1(L2,name)
inform2 = table1(L3,name)
inform3 = table1(L4,name)


subject = (inform0[3],inform1[3],inform2[3],inform3[3])
date = (inform0[0],inform1[0],inform2[0],inform3[0])
time = (inform0[1],inform1[1],inform2[1],inform3[1])
classroom = (inform0[2],inform1[2],inform2[2],inform3[2])

students=Table().with_columns("科目",subject,"日期",date,"时间",time,"教室",classroom)
students

请输入待查询的名字：谢雨馨

科目     | 日期             | 时间             | 教室
[]     | []             | []             | []
[]     | []             | []             | []
[]     | []             | []             | []
['高数'] | ['2022/11/14'] | ['8:30-10:30'] | ['理一B311']